<template name="ordealsView">
  {{#with ordeal}}
    Vice-Chief of Inductions: {{vcInductions}}<br/>
    Vice-Chief of Inductions Adviser: {{vcInductionsAdviser}}<br/>

    Name: {{name}}<br/>
    Location: {{location}}<br/>
    Ordeal Begins: {{date}}<br/>

    Lodge Chief: {{lodgeChief}}<br/>
    Lodge Adviser: {{lodgeAdviser}}<br/>
    Lodge Staff Adviser: {{lodgeStaffAdviser}}<br/>

    Candidates Pre-Registered: {{candidatesPreRegistered}}<br/>
    Candidates Anticipated: {{candidatesAnticipated}}<br/>
    Members Anticipated: {{membersAnticipated}}<br/>

    Candidates: {{candidates}}<br/>
    Brotherhoods Converted: {{brotherhoods}}<br/>
    Members: {{members}}<br/>

    Medic: {{medic}}<br/>
    Interfaith Service Leader: {{interfaithServiceLeader}}<br/>
    Brotherhood Chairman: {{brotherhoodChairman}}<br/>
    Special Needs Clan: {{specialNeedsClan}}<br/>
    Late Arrival Clan: {{lateArrivalClan}}<br/>


    <h4>Pre-Ordeal Teams</h4><br/>

    {{#each preOrdealTeams}}
      Chapter: {{chapter}}<br/>
      ETA: {{eta}}<br/>
      Performed: {{performed}}<br/>
    {{/each}}


    <h4>Ordeal Teams</h4><br/>

    {{#each ordealTeams}}
      Chapter: {{chapter}}<br/>
      ETA: {{eta}}<br/>
      Performed: {{performed}}<br/>
    {{/each}}

    <h4>Brotherhood Teams</h4><br/>

    {{#each brotherhoodTeams}}
      Chapter: {{chapter}}<br/>
      ETA: {{eta}}<br/>
      Performed: {{performed}}<br/>
    {{/each}}

    <h4>Ordeal Masters</h4><br/>

    {{#each ordealMasters}}<br/>
      Name: {{name}}<br/>
      Rating: {{rating}}<br/>
    {{/each}}

    <h4>Late Arrivals</h4><br/>

    {{#each sortedLateArrivals lateArrivals}}
      Name: {{name}}<br/>
      ETA: {{eta}}<br/>
    {{/each}}

    <h4>Clans</h4><br/>

    {{#each clans}}
      Name: {{name}}<br/>
      Elangomat: {{elangomat}}<br/>
      Candidates: {{numberOfCandidates}}<br/>
      Poor Elangomat: {{poorElangomat}}<br/>
    {{/each}}

    Roses: {{roses}}<br/>
    Thorns: {{thorns}}<br/>
    Additional Comments: {{additionalComments}}<br/>
    Adviser Comments: {{adviserComments}}<br/>
  {{/with}}
</template>
