<template name="ordealsList">
  <div class="row">
    <h1>Ordeals</h1>
    {{#if currentUser}}<a href="{{pathFor 'create-ordeal'}}" class="pull-right btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp;Add Ordeal</a>{{/if}}
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Begins</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each ordeals}}
        <tr>
          <td>{{name}}</td>
          <td>{{location}}</td>
          <td>{{date}}</td>
          <td>
            {{#if isInRole 'admin'}}
              <div class="btn-group">
                <a class="btn btn-sm btn-default" href="{{pathFor 'edit-ordeal'}}">Edit</a>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{{pathFor 'view-ordeal'}}">View</a></li>
                  <li><a href="#" class="deleteOrdealBtn">Delete</a></li>
                </ul>
              </div>
            {{/if}}
            {{#if editOrdealAbility}}
              <a class="btn btn-sm btn-default" href="{{pathFor 'edit-ordeal'}}">Edit</a>
            {{/if}}
            {{#if notLoggedIn}}
              <a class="btn btn-sm btn-default" href="{{pathFor 'view-ordeal'}}">View</a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
