<template name="ordealsView">
  {{#with ordeal}}
  <div class="row">
    <div class="col-xs-12">
      <h4>{{name}} – {{location}}</h4>
      <h5>{{date}}</h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <strong>Vice-Chief of Inductions</strong>: {{vcInductions}}<br/>
      <strong>Vice-Chief of Inductions Adviser</strong>: {{vcInductionsAdviser}}<br/><br/>

      <strong>Lodge Chief</strong>: {{lodgeChief}}<br/>
      <strong>Lodge Adviser</strong>: {{lodgeAdviser}}<br/>
      <strong>Lodge Staff Adviser</strong>: {{lodgeStaffAdviser}}<br/><br/>

      <strong>Candidates Pre-Registered</strong>: {{candidatesPreRegistered}}<br/>
      <strong>Candidates Anticipated</strong>: {{candidatesAnticipated}}<br/>
      <strong>Members Anticipated</strong>: {{membersAnticipated}}<br/><br/>

      <strong>Candidates Inducted</strong>: {{candidates}}<br/>
      <strong>Brotherhoods Converted</strong>: {{brotherhoods}}<br/>
      <strong>Members In Attendance</strong>: {{members}}<br/><br/>

      <strong>Medic</strong>: {{medic}}<br/>
      <strong>Interfaith Service Leader</strong>: {{interfaithServiceLeader}}<br/>
      <strong>Brotherhood Chairman</strong>: {{brotherhoodChairman}}<br/>
      <strong>Special Needs Clan</strong>: {{specialNeedsClan}}<br/>
      <strong>Late Arrival Clan</strong>: {{lateArrivalClan}}<br/><br/>

      {{#if ordealMasters}}
        <h4>Ordeal Masters</h4>
        {{#each ordealMasters}}
        <p>
          <strong>Name</strong>: {{name}}<br/>
          <strong>Rating</strong>: {{rating}}
        </p>
        {{/each}}<br/>
      {{/if}}

      {{#if lateArrivals}}
        <h4>Late Arrivals</h4>
        {{#each sortedLateArrivals lateArrivals}}
        <p>
          <strong>Name</strong>: {{name}}<br/>
          <strong>ETA</strong>: {{eta}}
        </p>
        {{/each}}<br/>
      {{/if}}
    </div>
    <div class="col-xs-12 col-sm-6">
      {{#if preOrdealTeams}}
        <h4>Pre-Ordeal Teams</h4>
        {{#each preOrdealTeams}}
        <p>
          <strong>Chapter</strong>: {{chapter}}<br/>
          <strong>ETA</strong>: {{eta}}<br/>
          <strong>Performed</strong>: {{performed}}
        </p>
        {{/each}}<br/>
      {{/if}}

      {{#if ordealTeams}}
        <h4>Ordeal Teams</h4>
        {{#each ordealTeams}}
        <p>
          <strong>Chapter</strong>: {{chapter}}<br/>
          <strong>ETA</strong>: {{eta}}<br/>
          <strong>Performed</strong>: {{performed}}
        </p>
        {{/each}}<br/>
      {{/if}}

      {{#if brotherhoodTeams}}
        <h4>Brotherhood Teams</h4>
        {{#each brotherhoodTeams}}
        <p>
          <strong>Chapter</strong>: {{chapter}}<br/>
          <strong>ETA</strong>: {{eta}}<br/>
          <strong>Performed</strong>: {{performed}}
        </p>
        {{/each}}<br/>
      {{/if}}

      {{#if clans}}
        <h4>Clans</h4>
        {{#each clans}}
        <p>
          <strong>Name</strong>: {{name}}<br/>
          <strong>Elangomat</strong>: {{elangomat}}<br/>
          <strong>Candidates</strong>: {{numberOfCandidates}}<br/>
          <strong>Poor Elangomat</strong>: {{poorElangomat}}
        </p>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><strong>Roses</strong>: {{roses}}</p>
      <p><strong>Thorns</strong>: {{thorns}}</p>
      <p><strong>Additional Comments</strong>: {{additionalComments}}</p>
      <p><strong>Adviser Comments</strong>: {{adviserComments}}<br/></p>
    </div>
  </div>
  {{/with}}
</template>
